*{
    padding: 0px;
    margin: 0px;
}

#container{
    position: absolute;
    height: 850px;
    width: 1500px;
    border: 3px solid black;
    margin: 75px;
}

#corpo{
    position: relative;
    display: flex;
    height: 150px;
    width: 350px;
    border: 3px solid black;
    margin: 50%;
}